@model ProjetoEstagio.Models.ViewModels.EstagiarioEditarViewModel
@{
    ViewData["Title"] = "Editar Perfil";
    Layout = "_LayoutEstagiario";
}

<div class="container mb-4">
    <div class="row d-flex justify-content-center" style="font-size: .9em">
        
        <div class="col-12 col-md-8 col-lg-6 bg-white my-3 p-4 rounded shadow" style="min-width: 380px">
            
            <h4 class="text-center mb-4 text-uppercase fw-bold text-secondary">Dados Pessoais</h4>

            <form asp-controller="Estagiario" asp-action="Alterar" method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                <input type="hidden" asp-for="Id" />

                <div class="form-group mb-3">
                    <label asp-for="CPF" class="fw-bold"></label>
                    <input type="text" class="form-control bg-light" asp-for="CPF" readonly />
                    <small class="text-muted" style="font-size: 0.8em">O CPF não pode ser alterado.</small>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Email" class="fw-bold"></label>
                    <input type="email" class="form-control bg-light" asp-for="Email" readonly>
                    <small class="text-muted" style="font-size: 0.8em">O E-mail (Login) não pode ser alterado.</small>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Nome" class="fw-bold"></label>
                    <input type="text" class="form-control" asp-for="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Telefone" class="fw-bold"></label>
                    <input type="text" class="form-control" asp-for="Telefone" placeholder="(XX) XXXXX-XXXX">
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="NomeCurso" class="fw-bold"></label>
                    <input type="text" class="form-control" asp-for="NomeCurso">
                    <span asp-validation-for="NomeCurso" class="text-danger"></span>
                </div>

                <div class="row g-2 mt-4">
                    <div class="col-6">
                        <a asp-controller="Estagiario" asp-action="Principal" class="btn btn-outline-secondary w-100">Voltar</a>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary w-100">Salvar Dados</button>
                    </div>
                </div>
            </form>

            <hr class="my-5 border-secondary opacity-25">

            <h4 class="text-center mb-4 text-uppercase fw-bold text-secondary">Alterar Senha</h4>
            
            @{
                var dadosParaSenha = new ProjetoEstagio.Models.ViewModels.AlterarSenhaViewModel 
                { 
                   Id = Model.UsuarioId
                };
            }

            <partial name="_AlterarSenha" model="dadosParaSenha" />
            
        </div>
        </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}