@model ProjetoEstagio.Models.ViewModels.EstagiarioEditarViewModel
@{
    ViewData["Title"] = "Editar Perfil";
    Layout = "_LayoutEstagiario";
}
<div class="container mb-4">
    <form asp-controller="Estagiario" asp-action="Alterar" method="post" class="row d-flex justify-content-center" style="font-size: .9em">
        <div class="col-md-7 col-lg-6 bg-white my-3 p-4 rounded shadow">
            <h3 class="text-center mb-4">EDITAR PERFIL DO ESTAGIÁRIO</h3>

            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="CPF" class="form-label fw-bold"></label>
                <input type="text" class="form-control bg-light" asp-for="CPF" readonly />
                <small class="form-text text-muted">O CPF não pode ser alterado após o cadastro.</small>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Nome" class="form-label fw-bold"></label>
                <input type="text" class="form-control" asp-for="Nome" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label fw-bold"></label>
                <input type="email" class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Telefone" class="form-label fw-bold"></label>
                <input type="text" class="form-control" asp-for="Telefone" placeholder="(XX) XXXXX-XXXX">
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NomeCurso" class="form-label fw-bold"></label>
                <input type="text" class="form-control" asp-for="NomeCurso">
                <span asp-validation-for="NomeCurso" class="text-danger"></span>
            </div>

            <hr class="my-4" />

            <div class="row g-2 justify-content-end">
                <div class="col-6 col-md-3">
                    <a asp-controller="Estagiario" asp-action="Principal" class="btn btn-outline-secondary w-100">Cancelar</a>
                </div>
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary w-100">Salvar</button>
                </div>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}