@{
    Layout = "_LayoutUsuario";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
                    initial-scale=1.0">
    <title>Menu Principal - Estagiário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/b02dd4a413.js" crossorigin="anonymous"></script>

    <style>
        html, body {
            height: 100%;
            font-family: 'Poppins', sans-serif;
        }

        .gfg {
            height: 50px;
            width: 50px;
        }

        .mynav {
            color: #fff;
        }

            .mynav li a {
                color: #fff;
                text-decoration: none;
                width: 100%;
                display: block;
                border-radius: 5px;
                padding: 8px 5px;
            }

                .mynav li a.active {
                    background: rgba(255, 255, 255, 0.2);
                }

                .mynav li a:hover {
                    background: rgba(255, 255, 255, 0.2);
                }

                .mynav li a i {
                    width: 25px;
                    text-align: center;
                }

        .notification-badge {
            background-color: rgba(255, 255, 255, 0.7);
            float: right;
            color: #222;
            font-size: 16px;
            margin-bottom: 16px;
            padding: 0px 8px;
            border-radius: 2px;
        }

        #bdSidebar {
            height: 100vh;
        }

        #hero {
            height: 100vh;
        }
    </style>
</head>

<body>
    <div class="container-fluid p-0 d-flex h-100">
        <div id="bdSidebar"
             class="d-flex flex-column
                     flex-shrink-0
                     px-4 pt-3 bg-danger
                     text-white offcanvas-md offcanvas-start">
            <a href="Index"
               class="navbar-brand text-center">
                <h5>SGE</h5>
            </a><hr>


            <ul class="mynav nav nav-pills flex-column mb-auto">
                <li class="nav-item mb-1">
                    <a href="#">
                        <i class="fa-regular fa-user"></i>
                        Perfil
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="#">
                        <i class="fa-solid fa-archway"></i>
                        Estágios
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="#">
                        <i class="fa-solid fa-graduation-cap"></i>
                        Atividades
                    </a>
                </li>




                <li class="nav-item mb-1">
                    <a href="#">
                        <i class="fa-solid fa-file-pen"></i>
                        Documentos
                    </a>
                </li>


                <li class="nav-item mb-1">
                    <a href="#">
                        <i class="fas fa-cog pe-2"></i>
                        Configuração
                        <!--<span class="notification-badge">5</span>-->
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fas fa-sign-out-alt pe-2"></i>
                        <span class="topic">Sair</span>
                    </a>
                </li>

            </ul>
            <hr>
            <div class="d-flex m-2">
                <i class="fa-solid fa-book me-2">
                    <span>
                        SGE Fatec 2025
                    </span>
                </i>
            </div>
        </div>

        <div id="hero" class="bg-light flex-fill h-100 overflow-auto">
            <div class="p-3 d-md-none d-flex text-white bg-danger">
                <a href="#" class="text-white"
                   data-bs-toggle="offcanvas"
                   data-bs-target="#bdSidebar">
                    <i class="fa-solid fa-bars fa-xl"></i>

                </a>

                <span class="ms-3">SGE - Fatec</span>
            </div>
            <div class="pt-4 px-4">
                <nav style="--bs-breadcrumb-divider:'>';font-size:14px">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="Principal" style="color: black" ;><i class="fa-solid fa-house "></i></a>
                        </li>
                        <li class="breadcrumb-item">Estagiário</li>
                        <li class="breadcrumb-item">Início</li>
                        <li class=" ms-auto">Usuário<i class="fa-solid fa-circle-user  fa-2xl ms-2"></i></li>

                    </ol>

                </nav>

                <hr>

                <!-- Dashboards -->
                <div class="row">
                    <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                        <div class="card  text-bg-primary mb-3" style="max-width: 20rem; max-height: 16rem; ">
                            <div class="card-header text-center">Vagas de Estágio</div>
                            <div class="card-body ">
                                <p class="card-text">3 Vagas Disponíveis</p>
                                <p class="card-text">1 Candidatura Aguardando Resposta</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                        <div class="card  text-bg-success mb-3" style=" max-width: 20rem; max-height: 16rem;">
                            <div class="card-header text-center">Relatório Atividades</div>
                            <div class="card-body ">
                                <p class="card-text">2 Relatórios Pendentes a Preencher</p>
                                <p class="card-text">1 Relatório Aguardando Assinatura</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4 d-flex justify-content-center">
                        <div class="card  text-bg-warning  mb-3" style="max-width: 20rem; max-height: 16rem;">
                            <div class="card-header text-center">Documentos</div>
                            <div class="card-body ">
                                <p class="card-text">3 Documentos com Assinaturas Pendentes</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Dashboards Fim -->
                <!-- Pesquisar Início -->
                <div class="container mt-5 col-sm-12 col-md-8">
                    <h3 class="text-center mb-3">Buscar Estágios</h3>
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Selecionar</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#">Código da Vaga</a></li>
                            <li><a class="dropdown-item" href="#">Nome da Vaga</a></li>
                            <li><a class="dropdown-item" href="#">Nome da Empresa </a></li>
                        </ul>
                        <input type="text" class="form-control border border-secondary" aria-label="Text input with dropdown button">
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"><i class="fa-solid fa-magnifying-glass pe-1"></i>Pesquisar</button>
                    </div>
                </div>
                <!-- Pesquisar Fim -->
                <!-- Tabela Início -->
                <div class="container mt-5">
                    <h3 class="text-center mb-3">Lista de Estágios</h3>
                    <button type="button" class="btn btn-primary btn-sm mb-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z" />
                        </svg>Filtro
                    </button>

                    <div class="table-responsive" style="overflow-x: auto; white-space: nowrap;">
                        <table class="table table-striped table-hover table-bordered border-black align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Carga Horária</th>
                                    <th scope="col">Valor da Bolsa</th>
                                    <th scope="col">Local</th>
                                    <th scope="col">Candidatar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Fullstack</td>
                                    <td>IBM</td>
                                    <td>30h</td>
                                    <td>R$ 1700,00</td>
                                    <td>Campinas/SP</td>
                                    <td>
                                        <div class="d-flex justify-content-evenly gap-1">
                                            <button class="btn btn-primary btn-sm">Candidatar</button>
                                            <button class="btn btn-outline-primary btn-sm">Visualizar</button>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Back-end</td>
                                    <td>TOTVS</td>
                                    <td>30h</td>
                                    <td>R$ 2000,00</td>
                                    <td>São Paulo/SP</td>
                                    <td>
                                        <div class="d-flex justify-content-evenly gap-1">
                                            <button class="btn btn-primary btn-sm">Candidatar</button>
                                            <button class="btn btn-outline-primary btn-sm">Visualizar</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Front-end</td>
                                    <td>CI&T</td>
                                    <td>40h</td>
                                    <td>R$ 1800,00</td>
                                    <td>Campinas/SP</td>
                                    <td>
                                        <div class="d-flex justify-content-evenly gap-1">
                                            <button class="btn btn-primary btn-sm">Candidatar</button>
                                            <button class="btn btn-outline-primary btn-sm">Visualizar</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Tabela Fim -->
                <!-- Tabela Início -->
                <div class="container mt-5">
                    <h3 class="text-center mb-3">Lista de Estágios</h3>
                    <button type="button" class="btn btn-primary btn-sm mb-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z" />
                        </svg>Filtro
                    </button>

                    <div class="table-responsive" style="overflow-x: auto; white-space: nowrap;">
                        <table class="table table-striped table-hover table-bordered border-black align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Carga Horária</th>
                                    <th scope="col">Valor da Bolsa</th>
                                    <th scope="col">Local</th>
                                    <th scope="col">Candidatar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Fullstack</td>
                                    <td>IBM</td>
                                    <td>30h</td>
                                    <td>R$ 1700,00</td>
                                    <td>Campinas/SP</td>
                                    <td>
                                        <div class="d-flex justify-content-evenly gap-1">
                                            <button class="btn btn-primary btn-sm">Candidatar</button>
                                            <button class="btn btn-outline-primary btn-sm">Visualizar</button>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Back-end</td>
                                    <td>TOTVS</td>
                                    <td>30h</td>
                                    <td>R$ 2000,00</td>
                                    <td>São Paulo/SP</td>
                                    <td>
                                        <div class="d-flex justify-content-evenly gap-1">
                                            <button class="btn btn-primary btn-sm">Candidatar</button>
                                            <button class="btn btn-outline-primary btn-sm">Visualizar</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Front-end</td>
                                    <td>CI&T</td>
                                    <td>40h</td>
                                    <td>R$ 1800,00</td>
                                    <td>Campinas/SP</td>
                                    <td>
                                        <div class="d-flex justify-content-evenly gap-1">
                                            <button class="btn btn-primary btn-sm">Candidatar</button>
                                            <button class="btn btn-outline-primary btn-sm">Visualizar</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Tabela Fim -->
                <!-- Tabela Início -->
                <div class="container mt-5">
                    <h3 class="text-center mb-3">Lista de Estágios</h3>
                    <button type="button" class="btn btn-primary btn-sm mb-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z" />
                        </svg>Filtro
                    </button>

                    <div class="table-responsive" style="overflow-x: auto; white-space: nowrap;">
                        <table class="table table-striped table-hover table-bordered border-black align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Carga Horária</th>
                                    <th scope="col">Valor da Bolsa</th>
                                    <th scope="col">Local</th>
                                    <th scope="col">Candidatar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Fullstack</td>
                                    <td>IBM</td>
                                    <td>30h</td>
                                    <td>R$ 1700,00</td>
                                    <td>Campinas/SP</td>
                                    <td>
                                        <div class="d-flex justify-content-evenly gap-1">
                                            <button class="btn btn-primary btn-sm">Candidatar</button>
                                            <button class="btn btn-outline-primary btn-sm">Visualizar</button>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Back-end</td>
                                    <td>TOTVS</td>
                                    <td>30h</td>
                                    <td>R$ 2000,00</td>
                                    <td>São Paulo/SP</td>
                                    <td>
                                        <div class="d-flex justify-content-evenly gap-1">
                                            <button class="btn btn-primary btn-sm">Candidatar</button>
                                            <button class="btn btn-outline-primary btn-sm">Visualizar</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Front-end</td>
                                    <td>CI&T</td>
                                    <td>40h</td>
                                    <td>R$ 1800,00</td>
                                    <td>Campinas/SP</td>
                                    <td>
                                        <div class="d-flex justify-content-evenly gap-1">
                                            <button class="btn btn-primary btn-sm">Candidatar</button>
                                            <button class="btn btn-outline-primary btn-sm">Visualizar</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Tabela Fim -->
                <!-- Tabela Início -->
                <div class="container mt-5">
                    <h3 class="text-center mb-3">Lista de Estágios</h3>
                    <button type="button" class="btn btn-primary btn-sm mb-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z" />
                        </svg>Filtro
                    </button>

                    <div class="table-responsive" style="overflow-x: auto; white-space: nowrap;">
                        <table class="table table-striped table-hover table-bordered border-black align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Carga Horária</th>
                                    <th scope="col">Valor da Bolsa</th>
                                    <th scope="col">Local</th>
                                    <th scope="col">Candidatar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Fullstack</td>
                                    <td>IBM</td>
                                    <td>30h</td>
                                    <td>R$ 1700,00</td>
                                    <td>Campinas/SP</td>
                                    <td>
                                        <div class="d-flex justify-content-evenly gap-1">
                                            <button class="btn btn-primary btn-sm">Candidatar</button>
                                            <button class="btn btn-outline-primary btn-sm">Visualizar</button>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Back-end</td>
                                    <td>TOTVS</td>
                                    <td>30h</td>
                                    <td>R$ 2000,00</td>
                                    <td>São Paulo/SP</td>
                                    <td>
                                        <div class="d-flex justify-content-evenly gap-1">
                                            <button class="btn btn-primary btn-sm">Candidatar</button>
                                            <button class="btn btn-outline-primary btn-sm">Visualizar</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Front-end</td>
                                    <td>CI&T</td>
                                    <td>40h</td>
                                    <td>R$ 1800,00</td>
                                    <td>Campinas/SP</td>
                                    <td>
                                        <div class="d-flex justify-content-evenly gap-1">
                                            <button class="btn btn-primary btn-sm">Candidatar</button>
                                            <button class="btn btn-outline-primary btn-sm">Visualizar</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Tabela Fim -->


            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
</body>
</html> 