@model ProjetoEstagio.Models.SupervisorModel
@{
    ViewData["Title"] = "Cadastrar Supervisor";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="SISTEMA ESTÁGIO">
    <title>SISTEMA ESTÁGIO - Cadastro Supervisor</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

    <!-- Scripts de validação MVC -->
    <partial name="_ValidationScriptsPartial" />
</head>

<body>

    <!-- ======== MENU ======== -->
    <header>
    </header>

    <!-- ======== TÍTULO ======== -->
    <section id="titulo" class="text-center mb-3">
        <h2><strong>CADASTRO DE SUPERVISOR</strong></h2>
    </section>

    <!-- ======== FORMULÁRIO ======== -->
    <!-- TESTE FORMULÁRIO-->
    <div class="container mb-4">
        <form asp-action="Cadastrar" method="post" class="row d-flex justify-content-center" style="font-size: .75em">
            <div class=" col-4 bg-white my-2 p-3 rounded shadow" style="min-width: 380px">
                <h3 class="text-center mb-3">FORMULÁRIO</h3>
                <!-- Nome -->
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome" asp-for="Nome" required>
                    </div>
                </div>
                <!-- Sobrenome
                <div class="row  mb-3">
                    <div class="col-lg-12">
                        <label for="sobrenome" class="form-label">Sobrenome</label>
                        <input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome" required>
                    </div>
                </div>-->
                <!-- Documento CPF -->
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" class="form-control" id="cpf" placeholder="Número do CPF" asp-for="CPF" required>
                    </div>
                </div>

                <!-- Cargo -->
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <label for="cargo" class="form-label">Cargo</label>
                        <select asp-for"IdEmpresa" asp-items="ViewBag.Empresas" class="form-control"></select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-12">
                        <label for="IdEmpresa" class="form-label">Empresa</label>
                        <input type="text" class="form-control" id="cargo" placeholder="Cargo" asp-for="Cargo" required>
                    </div>
                </div>


                <!-- Código de Área e Nº de Telefone
                <div class="row  mb-3">
                    <div class="col-4">
                        <label for="codigo" class="form-label mt-2">Código</label>
                        <input type="text" class="form-control" id="codigo" placeholder="(DDD)" required>
                    </div>
                    <div class="col-8">
                        <label for="telefone" class="form-label  mt-2">Telefone</label>
                        <input type="text" class="form-control" id="telefone" placeholder="91234-5678" required>
                    </div>
                </div>-->
                <!-- Email e Senha
                <div class="row mb-3">
                    <div class="col">
                        <label for="email" class="form-label mt-2">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="exemplo@exemplo.com.br" required>

                        <label for="senha" class="form-label   mt-2">Senha</label>
                        <input type="password" class="form-control" id="senha" required>

                        <label for="confirmarSenha" class="form-label   mt-2">Confirmar Senha</label>
                        <input type="password" class="form-control" id="confirmarSenha" required>
                    </div>
                </div> -->
                <!-- Concorda Termo de Uso e Políticas -->
                <div class="d-flex mt-1">
                    <!-- Confirmação -->
                    <div class="form-check me-auto">
                        <input class="form-check-input" type="checkbox" id="confirmarTermos">
                        <!-- Esqueceu Senha -->
                        <label class="form-check-label" for="confirmarTermos">
                            Concordar com Termos de Uso e Políticas de Privacidade
                        </label>
                    </div>
                </div>

             


                <div class="form-group row m-1">
                    <button type="submit" class="btn btn-danger mb-2">Cadastrar</button>
                    <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Supervisor" role="button">Cancelar</a>
                </div>
            </div>
        </form>
    </div>


</body>
</html>
