@model UsuarioModel
@{
}

<div id="bdSidebar"
      class="d-flex flex-column
            flex-shrink-0
            px-4 pt-3 bg-danger
            text-white offcanvas-md offcanvas-start">
    <a href="#"
       class="navbar-brand text-center">
        <h5>SGE</h5>
    </a><hr>
    <ul class="mynav nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-1">
            <a href="#">
                <i class="fa-regular fa-user"></i>
                Perfil
            </a>
        </li>
        <li class="nav-item mb-1">
            <a href="#">
                <i class="fa-solid fa-archway"></i>
                Supervisores
            </a>
        </li>
        <li class="nav-item mb-1">
            <a href="#">
                <i class="fa-solid fa-graduation-cap"></i>
                Estágios
            </a>
        </li>

        <li class="nav-item mb-1">
            <a href="#">
                <i class="fas fa-cog pe-2"></i>
                Configuração
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" asp-controller="Login" asp-action="Logout">
                <i class="fas fa-sign-out-alt pe-2"></i>
                <span class="topic">Sair</span>
            </a>
        </li>
    </ul>
    <hr>
    <div class="d-flex m-2">
        <i class="fa-solid fa-book me-2">
            <span>
                SGE Fatec 2025
            </span>
        </i>
    </div>
</div>