@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    height: 100%; /* ALTERADO de min-height */
    font-size: 14px;
    /* 'position: relative;' REMOVIDO */
}

body {
    height: 100%; /* ALTERADO de min-height */
    overflow: hidden; /* MANTIDO (Impede a barra de rolagem na PÁGINA) */
    background-color: #ced4da63;
    /* 'display: flex' REMOVIDO */
    /* 'flex-direction: column' REMOVIDO */

   
}

.field-validation-error {
    color: #e01d1d;
    font-size: 0.75rem;
}

footer {
    padding: 15px;
}

    footer a {
        text-decoration: none;
    }

        footer a:hover {
            color: #dc3545;
        }

.input-icon-wrapper {
    position: relative;
}

    /* 2. Adiciona espaço no input para o texto não passar por baixo do ícone */
.input-icon-wrapper .form-control {
    padding-right: 40px; /* 40px para o ícone */
}

/* 3. Posiciona o ícone flutuando sobre o input */
.input-icon-toggle {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    cursor: pointer;
}

.bg-light.flex-fill {
    /* Adiciona uma barra de rolagem vertical APENAS nesta div */
    overflow-y: auto;
}
/*
  SOLUÇÃO DATATABLES "MOSTRAR" E "PESQUISAR" (VERSÃO FINAL)
  Baseado no HTML do console
*/

/* 1. Encontra a linha (row) que contém o controle .dt-length (Mostrar)
     e força ela a nunca quebrar a linha.
*/
.row:has(> .col-md-auto > .dt-length) {
    flex-wrap: nowrap !important;
    align-items: center;
}

    /* 2. Encontra as colunas (.col-md-auto) que estão DENTRO dessa linha
     e força a largura delas a ser 'auto' em TODAS as telas,
     cancelando a quebra de linha do Bootstrap em telas pequenas.
*/
    .row:has(> .col-md-auto > .dt-length) > .col-md-auto {
        width: auto !important;
        flex-basis: auto !important; /* Garante que o flex-grow/shrink funcione */
    }


/* --- Estilo para a lista de resultados da busca de empresa --- */

#busca-empresa-resultados {
    /* Define uma altura máxima. 
       Aprox. 300px deve dar uns 4-5 itens. 
       Ajuste este valor como preferir! */
    max-height: 300px;
    /* Adiciona a barra de rolagem vertical APENAS se for necessário */
    overflow-y: auto;
    /* Opcional: só para garantir que ele fique sobre outros elementos */
    position: relative;
    z-index: 99;
}