@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4"><strong>Bem Vindo!</strong></h4>
    <h5><strong>Sistema para Gerenciamento de Documentação de Estágio</strong></h5>
</div>
