@model RedefinirSenhaModel

@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Redefinir Senha";
}

<div class="container mb-4">
    <form asp-controller="Login" asp-action="LinkRedefinirSenha" method="post" class="row d-flex justify-content-center" style="font-size: .75em">
        <div class="col-4 bg-white my-2 p-3 rounded shadow" style="min-width: 380px">
            @if (TempData["MensagemSucesso"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @if (TempData["MensagemErro"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Erro!</strong> @TempData["MensagemErro"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <h3 class="text-center mb-3">REDEFINIR SENHA DO LOGIN</h3>

            <div class="form-group m-4">
                <label for="Login">Login</label>
                <div class="input-group">
                    <input type="email" asp-for="Login" class="form-control" placeholder="usuario@exemplo.com.br"/>
                </div>
                @Html.ValidationMessageFor(x => x.Login)
            </div>


            <div class="form-group row m-4">
                <button type="submit" class="btn btn-primary mb-3">Redefinir Senha</button>
                <a class="btn btn-outline-secondary mb-3" asp-action="Index" asp-controller="Login" role="button">Cancelar</a>
            </div>    
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

