@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="SISTEMA ESTÁGIO">
    <title>SISTEMA ESTÁGIO - Cadastro Estágio</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

    <!-- Scripts de validação MVC -->
    <partial name="_ValidationScriptsPartial" />
</head>

<body>
    <section id="sobre"></section>

    <!-- ======== MENU ======== -->
    <header>

    </header>

    <!-- ======== TÍTULO ======== -->
    <section id="titulo" class="text-center mb-3">
        <h2><strong>CADASTRO DE ESTÁGIO</strong></h2>
    </section>

    <!-- ======== FORMULÁRIO ======== -->
    <!-- TESTE FORMULÁRIO-->
    <div class="container mb-4">
        <form class="row d-flex justify-content-center" style="font-size: .75em">
            <div class=" col-4 bg-white my-2 p-3 rounded shadow" style="min-width: 380px">
                <h3 class="text-center mb-3">FORMULÁRIO</h3>
                <!-- Nome do Estágio -->
                <div class="row  mb-3">
                    <div class="col-lg-12">
                        <label for="nome" class="form-label">Nome Estágio</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome" required>
                    </div>
                </div>
                <!-- Descrição do Estágio -->
                <div class="row  mb-3">
                    <div class="col-lg-12">
                        <label for="sobrenome" class="form-label">Descrição</label>
                        <input type="text" class="form-control" id="descricao" placeholder="Descrição" required>
                    </div>
                </div>

                <!-- Valor da Bolsa -->
                <div class="row  mb-3">
                    <div class="col-lg-12">
                        <label for="valor" class="form-label">Valor da Bolsa</label>
                        <input type="text" class="form-control" id="valor" placeholder="R$ " required>
                    </div>
                </div>


                <!-- Botões -->
                @* <div class="d-flex justify-content-end mt-4 "> *@
                @*     <a href="index.html" class="btn btn-danger ms-2">Cancelar</a> *@
                @*     <button class="btn btn-primary ms-2">Cadastrar</button> *@
                @* </div> *@

                <div class="d-grid gap-2 mt-3 d-md-flex justify-content-md-end">
                    <button class="btn btn-danger me-md-2" type="button">Cadastrar</button>
                    <button class="btn btn-outline-danger" type="button">Cancelar</button>
                </div>

            </div>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script>
        $('#valor').mask("#.##0,00", {reverse: true});
    </script>
</body>
</html>
